@model IEnumerable<FoodCorporateLandingPage.Entity.Concrete.Blog>
<!--::::: blog grid area start:::::::-->
<div class="blog-grid-area padding10070">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading white text-box">
                    <h2>Son<span>Bloglarımız</span></h2>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row blog-grid-list">
            @foreach (var blog in Model)
            {
                <div class="col-lg-4">
                    <div class="single-blog">
                        <div class="single-blog-img he">
                            <img src="~/@blog.ImagePath" alt=""> <span>@blog.PublishDate</span>
                        </div>
                        <div class="blog-text-wrap">
                            <div class="blog-text-box2 text-box">
                                <a href="/Blog/BlogDetails/@blog.Id">@blog.Title</a>
                                @if (@blog.Content!.Length > 600)
                                {
                                    <p>@Html.Raw(@blog.Content.Substring(0, 600))</p>
                                }
                                else
                                {
                                    <p> @Html.Raw(@blog.Content)</p>
                                }
                                

                            </div>
                            <a href="/Blog/BlogDetails/@blog.Id">Daha Fazla </a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!--::::: blog grid area end :::::::-->