@model IEnumerable<FoodCorporateLandingPage.Entity.Concrete.About>
<!--::::: about area start :::::::-->
<div class="about-area">
    <div class="container">
        @foreach (var about in Model)
        {

            <div class="row about-wrap br5">

                <div class="col-md-6 align-self-center wow fadeInLeft">
                    <div class="about-text-box white-bg">
                        <h6>Bizimle Çalışın</h6>
                        <h2>@about.Title</h2>
                        @if (@about.Content!.Length > 600)
                        {
                            <p>@Html.Raw(@about.Content.Substring(0, 600))</p>
                        }
                        else
                        {
                            @Html.Raw(@about.Content)
                        }
                        <div class="space-30"></div> <a href="/Contact/Index" class="cbtn btn3">İletişime Geç<img src="assets/img/icon/menu-btn-icon.png" alt=""><i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6 align-self-center wow fadeInRight">
                    <div class="about-right-slide owl-carousel">
                        <div class="single-about-right-slide he">
                            <img src="~/@about.ImagePath" alt="">
                        </div>

                    </div>
                </div>
            </div>
            break;
        }
    </div>
</div>
<!--::::: about area end :::::::-->